*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: rgb(36,36,36);
  background: linear-gradient(90deg, rgba(36,36,36,0.9953703703703703) 0%, rgba(100,125,133,1) 72%);  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.App-header{
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  justify-content: flex-around;
  padding: 0 12px;
  font-size:2rem;
  font-family: 'Big Shoulders Display';
  color:white;
  font-weight: bold;
}
.logo{
  height:2rem;
  width:2rem;
  margin-right:10px;
  background: url(./img/pbj_time.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}


.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}
.message-row{
  width:100%;
  display: flex;
  justify-content: left;
}
.message{
  background:rgba(222, 222, 223, 0.102);
  color:white;
  font-family: 'Big Shoulders Display';
  border-radius:10px;
  margin:4px;
  display: inline-block;
  padding: 4px 12px;
  position: relative;
}

.message-name {
  position: absolute;
  top: -7px;
  font-size: 0.6rem;
  color: white;
  font-weight: bold;
}

.text-input{
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Big Shoulders Display';
}

.send-button > svg {
  color: black;
}

.send-button[disabled] > svg {
  color: white;
}

.send-button[disabled]{
  cursor: default;
  background:grey;
}

.input{
  height:1.65rem;
  width: calc(100% - 1rem);
  background:rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  outline:none;
  border:1px solid white;
  color:white;
  padding-left:10px;
}

.send-button{
  position:absolute;
  right:12px;
  top:0.55rem;
  border-radius:100%;
  background:white;
  color:black;
  border:none;
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  outline:none;
}

.name-picker {
  display: flex;
  margin-left: 20px;
  justify-self: flex-end;
  position: fixed;
  right: 0.5rem;
}

.username {
  margin-right: 5px;
}

.name-picker input, button {
  margin-top: 0.5rem;
  max-width: 100px;
  font-family: 'Big Shoulders Display';
}

.name-picker button {
  background: none;
  border: none;
}

.username {
  margin-bottom: 8px;
}